In [6]:
import camelot

# Extract tables
tables = camelot.read_pdf("balance_table.pdf", pages="all")

# Save as CSV
for i, table in enumerate(tables):
    table.to_csv(f"balance8_{i}.csv")

/home/user/.local/lib/python3.10/site-packages/pypdf/_crypt_providers/_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

In [2]:
import pandas as pd 

score = pd.read_csv('plate_0.csv')
score

,Unnamed: 0,L1 (Work \nHarder),L2 (Must \nImprove),L3 (Can do \nBetter),L4 (Good),L5 (Very \nGood),L6 (Athletic),L7 (Sports \nFit)
0,Level,Level 1,Level 2,Level 3,Level 4,Level 5,Level 6,Level 7
1,Score,2 Points,4 Points,6 Points,7 Points,8 Points,9 Points,10 Points

In [3]:

plate = pd.read_csv('plate_1.csv')

plate

,Age,L1 (Work \nHarder),L2 (Must \nImprove),L3 (Can do \nBetter),L4 (Good),L5 (Very \nGood),L6 (Athletic) L7 (Sports,Fit)
0,5,< 00 m 25 s \n250 ms to 00 \nm 19 s 290 \nms,< 00 m 19 s \n290 ms to 00 \nm 16 s 700 \nms,< 00 m 16 s \n700 ms to 00 \nm 15 s 60 ms,< 00 m 15 s \n60 ms to 00 \nm 14 s 340 \nms,< 00 m 14 s \n340 ms to 00 \nm 13 s 600 \nms,< 00 m 13 s \n600 ms to 00 \nm 12 s 720 \nms,< 00 m 12 s \n720 ms
1,6,< 00 m 21 s \n550 ms to 00 \nm 18 s 190 \nms,< 00 m 18 s \n190 ms to 00 \nm 16 s 310 \nms,< 00 m 16 s \n310 ms to 00 \nm 14 s 970 \nms,< 00 m 14 s \n970 ms to 00 \nm 14 s 330 \nms,< 00 m 14 s \n330 ms to 00 \nm 13 s 650 \nms,< 00 m 13 s \n650 ms to 00 \nm 12 s 800 \nms,< 00 m 12 s \n800 ms
2,7,< 00 m 19 s \n480 ms to 00 \nm 16 s 680 \nms,< 00 m 16 s \n680 ms to 00 \nm 15 s 70 ms,< 00 m 15 s \n70 ms to 00 \nm 13 s 900 \nms,< 00 m 13 s \n900 ms to 00 \nm 13 s 350 \nms,< 00 m 13 s \n350 ms to 00 \nm 12 s 750 \nms,< 00 m 12 s \n750 ms to 00 \nm 12 s 0 ms,< 00 m 12 s 0 \nms
3,8,< 00 m 17 s \n310 ms to 00 \nm 15 s 510 \nms,< 00 m 15 s \n510 ms to 00 \nm 14 s 100 \nms,< 00 m 14 s \n100 ms to 00 \nm 13 s 70 ms,< 00 m 13 s \n70 ms to 00 \nm 12 s 580 \nms,< 00 m 12 s \n580 ms to 00 \nm 12 s 50 ms,< 00 m 12 s \n50 ms to 00 \nm 11 s 370 \nms,< 00 m 11 s \n370 ms

In [65]:

plate['L1_min'] = plate['L1 (Work \nHarder)'].str.split(pat='to').str[1]
plate['L1_max'] = plate['L1 (Work \nHarder)'].str.split(pat='to').str[0]
plate[['L1_min' , 'L1_max']]

                  L1_min                 L1_max
0   00 \nm 19 s 290 \nms  < 00 m 25 s \n250 ms
1   00 \nm 18 s 190 \nms  < 00 m 21 s \n550 ms
2   00 \nm 16 s 680 \nms  < 00 m 19 s \n480 ms
3   00 \nm 15 s 510 \nms  < 00 m 17 s \n310 ms

In [ ]:
import pandas as pd 

balance = pd.read_csv('balance_1.csv')

balance

,Age,L1 (Work \nHarder),L2 (Must \nImprove),L3 (Can do \nBetter),L4 (Good),L5 (Very \nGood),L6 (Athletic),L7 (Sports \nFit)
0,5,< 24 times to \n18 times,< 18 times to \n13 times,< 13 times to \n10 times,< 10 times to \n9 times,< 9 times to \n7 times,< 7 times to \n5 times,< 5 times
1,6,< 25 times to \n18 times,< 18 times to \n14 times,< 14 times to \n10 times,< 10 times to \n8 times,< 8 times to \n7 times,< 7 times to \n5 times,< 5 times
2,7,< 26 times to \n18 times,< 18 times to \n14 times,< 14 times to \n10 times,< 10 times to \n8 times,< 8 times to \n7 times,< 7 times to \n4 times,< 4 times
3,8,< 26 times to \n18 times,< 18 times to \n14 times,< 14 times to \n10 times,< 10 times to \n8 times,< 8 times to \n7 times,< 7 times to \n5 times,< 5 times

In [14]:
import pandas as pd 

curlup1 = pd.read_csv('balance8_3.csv')

curlUp = pd.read_csv('curlup_0.csv')

curlUp.columns = ['Age' , 'L1' , 'L2' , 'L3' , 'L4' , 'L5' , 'L6' , 'L7' ]
curlup1.columns = ['Age' , 'L1' , 'L2' , 'L3' , 'L4' , 'L5' , 'L6' , 'L7' ]

curlup1 = curlup1[0:1]

arr = [curlup1 , curlUp]

curlUp_table = pd.concat(arr , ignore_index=True)

curlUp_table.to_csv('curlup_table.csv')

In [16]:
curl = pd.read_csv('curlup_table.csv')
curl

,Unnamed: 0,Age,L1,L2,L3,L4,L5,L6,L7
0,0,9,> 9 times to \n13 times,> 13 times to \n13 times,> 13 times to \n18 times,> 18 times to \n20 times,> 20 times to \n21 times,> 21 times to \n23 times,> 23 times
1,0,10,> 9 times to \n13 times,> 13 times to \n13 times,> 13 times to \n18 times,> 18 times to \n20 times,> 20 times to \n21 times,> 21 times to \n23 times,> 23 times
2,1,11,> 13 times to \n16 times,> 16 times to \n16 times,> 16 times to \n22 times,> 22 times to \n23 times,> 23 times to \n24 times,> 24 times to \n26 times,> 26 times
3,2,12,> 14 times to \n16 times,> 16 times to \n16 times,> 16 times to \n22 times,> 22 times to \n24 times,> 24 times to \n25 times,> 25 times to \n27 times,> 27 times
4,3,13,> 14 times to \n18 times,> 18 times to \n18 times,> 18 times to \n23 times,> 23 times to \n24 times,> 24 times to \n26 times,> 26 times to \n28 times,> 28 times
5,4,14,> 15 times to \n19 times,> 19 times to \n19 times,> 19 times to \n24 times,> 24 times to \n25 times,> 25 times to \n27 times,> 27 times to \n29 times,> 29 times
6,5,15,> 17 times to \n20 times,> 20 times to \n20 times,> 20 times to \n25 times,> 25 times to \n26 times,> 26 times to \n28 times,> 28 times to \n30 times,> 30 times
7,6,16,> 18 times to \n20 times,> 20 times to \n20 times,> 20 times to \n26 times,> 26 times to \n27 times,> 27 times to \n29 times,> 29 times to \n30 times,> 30 times
8,7,17,> 18 times to \n22 times,> 22 times to \n22 times,> 22 times to \n27 times,> 27 times to \n28 times,> 28 times to \n29 times,> 29 times to \n31 times,> 31 times
9,8,18,> 18 times to \n21 times,> 21 times to \n21 times,> 21 times to \n28 times,> 28 times to \n29 times,> 29 times to \n30 times,> 30 times to \n31 times,> 31 times

In [68]:
import pandas as pd 

pushUp = pd.read_csv('pushup_0.csv')

pushUp

,Unnamed: 0,5 times,6 times,7 times,8 times,9 times,10 times,Unnamed: 7
0,10,> 5 times to \n6 times,> 6 times to \n7 times,> 7 times to \n8 times,> 8 times to \n9 times,> 9 times to \n10 times,> 10 times to \n11 times,> 11 times
1,11,> 6 times to \n7 times,> 7 times to \n8 times,> 8 times to \n9 times,> 9 times to \n10 times,> 10 times to \n11 times,> 11 times to \n13 times,> 13 times
2,12,> 7 times to \n8 times,> 8 times to \n9 times,> 9 times to \n10 times,> 10 times to \n11 times,> 11 times to \n13 times,> 13 times to \n15 times,> 15 times
3,13,> 8 times to \n9 times,> 9 times to \n10 times,> 10 times to \n11 times,> 11 times to \n13 times,> 13 times to \n15 times,> 15 times to \n16 times,> 16 times
4,14,> 9 times to \n10 times,> 10 times to \n11 times,> 11 times to \n13 times,> 13 times to \n15 times,> 15 times to \n16 times,> 16 times to \n17 times,> 17 times
5,15,> 13 times to \n15 times,> 15 times to \n17 times,> 17 times to \n19 times,> 19 times to \n21 times,> 21 times to \n23 times,> 23 times to \n28 times,> 28 times
6,16,> 15 times to \n17 times,> 17 times to \n19 times,> 19 times to \n21 times,> 21 times to \n23 times,> 23 times to \n28 times,> 28 times to \n33 times,> 33 times
7,17,> 17 times to \n19 times,> 19 times to \n21 times,> 21 times to \n23 times,> 23 times to \n28 times,> 28 times to \n33 times,> 33 times to \n37 times,> 37 times
8,18,> 19 times to \n21 times,> 21 times to \n23 times,> 23 times to \n28 times,> 28 times to \n33 times,> 33 times to \n37 times,> 37 times to \n43 times,> 43 times

In [69]:
import pandas as pd 

run = pd.read_csv('run_0.csv')

run

,Age,L1 (Work \nHarder),L2 (Must \nImprove),L3 (Can do \nBetter),L4 (Good),L5 (Very \nGood),L6 (Athletic) L7 (Sports,Fit)
0,9,< 03 m 30 s 0 \nms to 03 m \n24 s 600 ms,< 03 m 24 s \n600 ms to 03 \nm 20 s 400 \nms,< 03 m 20 s \n400 ms to 03 \nm 17 s 400 \nms,< 03 m 17 s \n400 ms to 03 \nm 16 s 200 \nms,< 03 m 16 s \n200 ms to 03 \nm 15 s 600 \nms,< 03 m 15 s \n600 ms to 03 \nm 15 s 0 ms,< 03 m 15 s 0 \nms
1,10,< 03 m 33 s \n600 ms to 03 \nm 28 s 800 \nms,< 03 m 28 s \n800 ms to 03 \nm 22 s 200 \nms,< 03 m 22 s \n200 ms to 03 \nm 17 s 400 \nms,< 03 m 17 s \n400 ms to 03 \nm 15 s 0 ms,< 03 m 15 s 0 \nms to 03 m \n12 s 600 ms,< 03 m 12 s \n600 ms to 03 \nm 12 s 0 ms,< 03 m 12 s 0 \nms
2,11,< 03 m 27 s \n600 ms to 03 \nm 22 s 800 \nms,< 03 m 22 s \n800 ms to 03 \nm 16 s 200 \nms,< 03 m 16 s \n200 ms to 03 \nm 11 s 400 \nms,< 03 m 11 s \n400 ms to 03 \nm 09 s 0 ms,< 03 m 09 s 0 \nms to 03 m \n06 s 600 ms,< 03 m 06 s \n600 ms to 03 \nm 06 s 0 ms,< 03 m 06 s 0 \nms
3,12,< 03 m 06 s 0 \nms to 03 m \n06 s 0 ms,< 03 m 06 s 0 \nms to 02 m \n52 s 200 ms,< 02 m 52 s \n200 ms to 02 \nm 43 s 200 \nms,< 02 m 43 s \n200 ms to 02 \nm 39 s 0 ms,< 02 m 39 s 0 \nms to 02 m \n31 s 200 ms,< 02 m 31 s \n200 ms to 02 \nm 30 s 600 \nms,< 02 m 30 s \n600 ms
4,13,< 02 m 18 s 0 \nms to 02 m \n14 s 400 ms,< 02 m 14 s \n400 ms to 02 \nm 08 s 400 \nms,< 02 m 08 s \n400 ms to 02 \nm 04 s 800 \nms,< 02 m 04 s \n800 ms to 02 \nm 03 s 0 ms,< 02 m 03 s 0 \nms to 02 m \n00 s 600 ms,< 02 m 00 s \n600 ms to 02 \nm 00 s 0 ms,< 02 m 00 s 0 \nms
5,14,< 02 m 06 s 0 \nms to 02 m \n08 s 400 ms,< 02 m 08 s \n400 ms to 01 \nm 33 s 600 \nms,< 01 m 33 s \n600 ms to 01 \nm 31 s 800 \nms,< 01 m 31 s \n800 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms to 01 \nm 31 s 800 \nms,< 01 m 31 s \n800 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms
6,15,< 02 m 00 s 0 \nms to 01 m \n34 s 800 ms,< 01 m 34 s \n800 ms to 01 \nm 33 s 0 ms,< 01 m 33 s 0 \nms to 01 m \n31 s 800 ms,< 01 m 31 s \n800 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms to 01 \nm 31 s 800 \nms,< 01 m 31 s \n800 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms
7,16,< 01 m 34 s \n800 ms to 01 \nm 34 s 200 \nms,< 01 m 34 s \n200 ms to 01 \nm 32 s 400 \nms,< 01 m 32 s \n400 ms to 01 \nm 31 s 200 \nms,< 01 m 31 s \n200 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms to 01 \nm 31 s 200 \nms,< 01 m 31 s \n200 ms to 01 \nm 30 s 600 \nms,< 01 m 30 s \n600 ms
8,17,< 01 m 33 s \n600 ms to 01 \nm 33 s 0 ms,< 01 m 33 s 0 \nms to 01 m \n31 s 200 ms,< 01 m 31 s \n200 ms to 01 \nm 30 s 0 ms,< 01 m 30 s 0 \nms to 01 m \n29 s 400 ms,< 01 m 29 s \n400 ms to 01 \nm 30 s 0 ms,< 01 m 30 s 0 \nms to 01 m \n29 s 400 ms,< 01 m 29 s \n400 ms
9,18,< 01 m 32 s \n400 ms to 01 \nm 31 s 800 \nms,< 01 m 31 s \n800 ms to 01 \nm 29 s 400 \nms,< 01 m 29 s \n400 ms to 01 \nm 27 s 0 ms,< 01 m 27 s 0 \nms to 01 m \n25 s 200 ms,< 01 m 25 s \n200 ms to 01 \nm 27 s 0 ms,< 01 m 27 s 0 \nms to 01 m \n25 s 200 ms,< 01 m 25 s \n200 ms

In [5]:
import pandas as pd 

speed1 = pd.read_csv('speed.csv')
speed2 = pd.read_csv('speed_0.csv')
speed2.columns = ['Age', 'L1 (Work \nHarder)', 'L2 (Must \nImprove)',
       'L3 (Can do \nBetter)', 'L4 (Good)', 'L5 (Very \nGood)',
       'L6 (Athletic)  L7 (Sports', 'Fit)']

speed = [speed1 , speed2]

speed_table = pd.concat(speed , ignore_index=True)

speed_table.to_csv('speed_table.csv')

speed_table

,Age,L1 (Work \nHarder),L2 (Must \nImprove),L3 (Can do \nBetter),L4 (Good),L5 (Very \nGood),L6 (Athletic) L7 (Sports,Fit)
0,9,< 00 m 10 s \n800 ms to 00 \nm 10 s 300,< 00 m 10 s \n300 ms to 00 \nm 09 s 800,< 00 m 09 s \n800 ms to 00 \nm 09 s 300,< 00 m 09 s \n300 ms to 00 \nm 09 s 100,< 00 m 09 s \n100 ms to 00 \nm 09 s 0 ms,< 00 m 09 s 0 \nms to 00 m \n08 s 600 ms,< 00 m 08 s \n600 ms
1,10,< 00 m 10 s \n400 ms to 00 \nm 10 s 0 ms,< 00 m 10 s 0 \nms to 00 m \n09 s 500 ms,< 00 m 09 s \n500 ms to 00 \nm 09 s 100 \nms,< 00 m 09 s \n100 ms to 00 \nm 08 s 900 \nms,< 00 m 08 s \n900 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms
2,11,< 00 m 10 s \n100 ms to 00 \nm 09 s 700 \nms,< 00 m 09 s \n700 ms to 00 \nm 09 s 200 \nms,< 00 m 09 s \n200 ms to 00 \nm 08 s 800 \nms,< 00 m 08 s \n800 ms to 00 \nm 08 s 600 \nms,< 00 m 08 s \n600 ms to 00 \nm 08 s 100 \nms,< 00 m 08 s \n100 ms to 00 \nm 08 s 100 \nms,< 00 m 08 s \n100 ms
3,12,< 00 m 09 s \n800 ms to 00 \nm 09 s 400 \nms,< 00 m 09 s \n400 ms to 00 \nm 08 s 900 \nms,< 00 m 08 s \n900 ms to 00 \nm 08 s 500 \nms,< 00 m 08 s \n500 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms to 00 \nm 07 s 800 \nms,< 00 m 07 s \n800 ms to 00 \nm 07 s 800 \nms,< 00 m 07 s \n800 ms
4,13,< 00 m 09 s \n400 ms to 00 \nm 09 s 100 \nms,< 00 m 09 s \n100 ms to 00 \nm 08 s 700 \nms,< 00 m 08 s \n700 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms to 00 \nm 08 s 0 ms,< 00 m 08 s 0 \nms to 00 m \n07 s 700 ms,< 00 m 07 s \n700 ms to 00 \nm 07 s 700 \nms,< 00 m 07 s \n700 ms
5,14,< 00 m 09 s \n100 ms to 00 \nm 08 s 900 \nms,< 00 m 08 s \n900 ms to 00 \nm 08 s 500 \nms,< 00 m 08 s \n500 ms to 00 \nm 08 s 0 ms,< 00 m 08 s 0 \nms to 00 m \n07 s 800 ms,< 00 m 07 s \n800 ms to 00 \nm 07 s 500 \nms,< 00 m 07 s \n500 ms to 00 \nm 07 s 600 \nms,< 00 m 07 s \n600 ms
6,15,< 00 m 08 s \n900 ms to 00 \nm 08 s 700 \nms,< 00 m 08 s \n700 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms to 00 \nm 07 s 800 \nms,< 00 m 07 s \n800 ms to 00 \nm 07 s 700 \nms,< 00 m 07 s \n700 ms to 00 \nm 07 s 300 \nms,< 00 m 07 s \n300 ms to 00 \nm 07 s 400 \nms,< 00 m 07 s \n400 ms
7,16,< 00 m 08 s \n700 ms to 00 \nm 08 s 500 \nms,< 00 m 08 s \n500 ms to 00 \nm 08 s 0 ms,< 00 m 08 s 0 \nms to 00 m \n07 s 700 ms,< 00 m 07 s \n700 ms to 00 \nm 07 s 600 \nms,< 00 m 07 s \n600 ms to 00 \nm 07 s 200 \nms,< 00 m 07 s \n200 ms to 00 \nm 07 s 200 \nms,< 00 m 07 s \n200 ms
8,17,< 00 m 08 s \n500 ms to 00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms to 00 \nm 07 s 800 \nms,< 00 m 07 s \n800 ms to 00 \nm 07 s 600 \nms,< 00 m 07 s \n600 ms to 00 \nm 07 s 500 \nms,< 00 m 07 s \n500 ms to 00 \nm 07 s 100 \nms,< 00 m 07 s \n100 ms to 00 \nm 07 s 100 \nms,< 00 m 07 s \n100 ms
9,18,< 00 m 08 s \n300 ms to 00 \nm 08 s 0 ms,< 00 m 08 s 0 \nms to 00 m \n07 s 700 ms,< 00 m 07 s \n700 ms to 00 \nm 07 s 500 \nms,< 00 m 07 s \n500 ms to 00 \nm 07 s 300 \nms,< 00 m 07 s \n300 ms to 00 \nm 07 s 0 ms,< 00 m 07 s 0 \nms to 00 m \n07 s 0 ms,< 00 m 07 s 0 \nms

In [161]:
for i in speed_table.columns[1:]:
    speed_table[f'{i}_min'] = speed_table[i].str.split(pat='to').str[1]
    speed_table[f'{i}_max'] = speed_table[i].str.split(pat='to').str[0]
    speed_table.drop(columns=[i] , inplace=True)

speed_table

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic) L7 (Sports_min,L6 (Athletic) L7 (Sports_max,Fit)_min,Fit)_max
0,9,00 \nm 10 s 300,< 00 m 10 s \n800 ms,00 \nm 09 s 800,< 00 m 10 s \n300 ms,00 \nm 09 s 300,< 00 m 09 s \n800 ms,00 \nm 09 s 100,< 00 m 09 s \n300 ms,00 \nm 09 s 0 ms,< 00 m 09 s \n100 ms,00 m \n08 s 600 ms,< 00 m 09 s 0 \nms,NaN,< 00 m 08 s \n600 ms
1,10,00 \nm 10 s 0 ms,< 00 m 10 s \n400 ms,00 m \n09 s 500 ms,< 00 m 10 s 0 \nms,00 \nm 09 s 100 \nms,< 00 m 09 s \n500 ms,00 \nm 08 s 900 \nms,< 00 m 09 s \n100 ms,00 \nm 08 s 300 \nms,< 00 m 08 s \n900 ms,00 \nm 08 s 300 \nms,< 00 m 08 s \n300 ms,NaN,< 00 m 08 s \n300 ms
2,11,00 \nm 09 s 700 \nms,< 00 m 10 s \n100 ms,00 \nm 09 s 200 \nms,< 00 m 09 s \n700 ms,00 \nm 08 s 800 \nms,< 00 m 09 s \n200 ms,00 \nm 08 s 600 \nms,< 00 m 08 s \n800 ms,00 \nm 08 s 100 \nms,< 00 m 08 s \n600 ms,00 \nm 08 s 100 \nms,< 00 m 08 s \n100 ms,NaN,< 00 m 08 s \n100 ms
3,12,00 \nm 09 s 400 \nms,< 00 m 09 s \n800 ms,00 \nm 08 s 900 \nms,< 00 m 09 s \n400 ms,00 \nm 08 s 500 \nms,< 00 m 08 s \n900 ms,00 \nm 08 s 300 \nms,< 00 m 08 s \n500 ms,00 \nm 07 s 800 \nms,< 00 m 08 s \n300 ms,00 \nm 07 s 800 \nms,< 00 m 07 s \n800 ms,NaN,< 00 m 07 s \n800 ms
4,13,00 \nm 09 s 100 \nms,< 00 m 09 s \n400 ms,00 \nm 08 s 700 \nms,< 00 m 09 s \n100 ms,00 \nm 08 s 300 \nms,< 00 m 08 s \n700 ms,00 \nm 08 s 0 ms,< 00 m 08 s \n300 ms,00 m \n07 s 700 ms,< 00 m 08 s 0 \nms,00 \nm 07 s 700 \nms,< 00 m 07 s \n700 ms,NaN,< 00 m 07 s \n700 ms
5,14,00 \nm 08 s 900 \nms,< 00 m 09 s \n100 ms,00 \nm 08 s 500 \nms,< 00 m 08 s \n900 ms,00 \nm 08 s 0 ms,< 00 m 08 s \n500 ms,00 m \n07 s 800 ms,< 00 m 08 s 0 \nms,00 \nm 07 s 500 \nms,< 00 m 07 s \n800 ms,00 \nm 07 s 600 \nms,< 00 m 07 s \n500 ms,NaN,< 00 m 07 s \n600 ms
6,15,00 \nm 08 s 700 \nms,< 00 m 08 s \n900 ms,00 \nm 08 s 300 \nms,< 00 m 08 s \n700 ms,00 \nm 07 s 800 \nms,< 00 m 08 s \n300 ms,00 \nm 07 s 700 \nms,< 00 m 07 s \n800 ms,00 \nm 07 s 300 \nms,< 00 m 07 s \n700 ms,00 \nm 07 s 400 \nms,< 00 m 07 s \n300 ms,NaN,< 00 m 07 s \n400 ms
7,16,00 \nm 08 s 500 \nms,< 00 m 08 s \n700 ms,00 \nm 08 s 0 ms,< 00 m 08 s \n500 ms,00 m \n07 s 700 ms,< 00 m 08 s 0 \nms,00 \nm 07 s 600 \nms,< 00 m 07 s \n700 ms,00 \nm 07 s 200 \nms,< 00 m 07 s \n600 ms,00 \nm 07 s 200 \nms,< 00 m 07 s \n200 ms,NaN,< 00 m 07 s \n200 ms
8,17,00 \nm 08 s 300 \nms,< 00 m 08 s \n500 ms,00 \nm 07 s 800 \nms,< 00 m 08 s \n300 ms,00 \nm 07 s 600 \nms,< 00 m 07 s \n800 ms,00 \nm 07 s 500 \nms,< 00 m 07 s \n600 ms,00 \nm 07 s 100 \nms,< 00 m 07 s \n500 ms,00 \nm 07 s 100 \nms,< 00 m 07 s \n100 ms,NaN,< 00 m 07 s \n100 ms
9,18,00 \nm 08 s 0 ms,< 00 m 08 s \n300 ms,00 m \n07 s 700 ms,< 00 m 08 s 0 \nms,00 \nm 07 s 500 \nms,< 00 m 07 s \n700 ms,00 \nm 07 s 300 \nms,< 00 m 07 s \n500 ms,00 \nm 07 s 0 ms,< 00 m 07 s \n300 ms,00 m \n07 s 0 ms,< 00 m 07 s 0 \nms,NaN,< 00 m 07 s 0 \nms

In [162]:
for i in speed_table.columns[1:]:
    speed_table[i] = speed_table[i].astype(str).str.replace("\n", " ", regex=True)
    speed_table[i] = speed_table[i].astype(str).str.replace("<", "")
    speed_table[i] = speed_table[i].astype(str).str.replace("m", " ")
    speed_table[i] = speed_table[i].astype(str).str.replace("s", " ")
    speed_table[i] = speed_table[i].astype(str).str.replace("ms", "")
    speed_table[i] = speed_table[i].astype(str).str.replace(r"\s+", ",", regex=True)
    speed_table[i] = speed_table[i].str.replace(r"^\s*,|,\s*$", "", regex=True)



speed_table

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic) L7 (Sports_min,L6 (Athletic) L7 (Sports_max,Fit)_min,Fit)_max
0,9,"00,10,300","00,10,800","00,09,800","00,10,300","00,09,300","00,09,800","00,09,100","00,09,300","00,09,0","00,09,100","00,08,600","00,09,0",nan,"00,08,600"
1,10,"00,10,0","00,10,400","00,09,500","00,10,0","00,09,100","00,09,500","00,08,900","00,09,100","00,08,300","00,08,900","00,08,300","00,08,300",nan,"00,08,300"
2,11,"00,09,700","00,10,100","00,09,200","00,09,700","00,08,800","00,09,200","00,08,600","00,08,800","00,08,100","00,08,600","00,08,100","00,08,100",nan,"00,08,100"
3,12,"00,09,400","00,09,800","00,08,900","00,09,400","00,08,500","00,08,900","00,08,300","00,08,500","00,07,800","00,08,300","00,07,800","00,07,800",nan,"00,07,800"
4,13,"00,09,100","00,09,400","00,08,700","00,09,100","00,08,300","00,08,700","00,08,0","00,08,300","00,07,700","00,08,0","00,07,700","00,07,700",nan,"00,07,700"
5,14,"00,08,900","00,09,100","00,08,500","00,08,900","00,08,0","00,08,500","00,07,800","00,08,0","00,07,500","00,07,800","00,07,600","00,07,500",nan,"00,07,600"
6,15,"00,08,700","00,08,900","00,08,300","00,08,700","00,07,800","00,08,300","00,07,700","00,07,800","00,07,300","00,07,700","00,07,400","00,07,300",nan,"00,07,400"
7,16,"00,08,500","00,08,700","00,08,0","00,08,500","00,07,700","00,08,0","00,07,600","00,07,700","00,07,200","00,07,600","00,07,200","00,07,200",nan,"00,07,200"
8,17,"00,08,300","00,08,500","00,07,800","00,08,300","00,07,600","00,07,800","00,07,500","00,07,600","00,07,100","00,07,500","00,07,100","00,07,100",nan,"00,07,100"
9,18,"00,08,0","00,08,300","00,07,700","00,08,0","00,07,500","00,07,700","00,07,300","00,07,500","00,07,0","00,07,300","00,07,0","00,07,0",nan,"00,07,0"

In [17]:
for i in balance.columns[1:]:
    balance[f'{i}_min'] = balance[i].str.split(pat='to').str[1]
    balance[f'{i}_max'] = balance[i].str.split(pat='to').str[0]
    balance.drop(columns=[i] , inplace=True)

balance

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic)_min,L6 (Athletic)_max,L7 (Sports \nFit)_min,L7 (Sports \nFit)_max
0,5,\n18 times,< 24 times,\n13 times,< 18 times,\n10 times,< 13 times,\n9 times,< 10 times,\n7 times,< 9 times,\n5 times,< 7 times,NaN,< 5 times
1,6,\n18 times,< 25 times,\n14 times,< 18 times,\n10 times,< 14 times,\n8 times,< 10 times,\n7 times,< 8 times,\n5 times,< 7 times,NaN,< 5 times
2,7,\n18 times,< 26 times,\n14 times,< 18 times,\n10 times,< 14 times,\n8 times,< 10 times,\n7 times,< 8 times,\n4 times,< 7 times,NaN,< 4 times
3,8,\n18 times,< 26 times,\n14 times,< 18 times,\n10 times,< 14 times,\n8 times,< 10 times,\n7 times,< 8 times,\n5 times,< 7 times,NaN,< 5 times

In [ ]:
for i in balance.columns[1:]:
    balance[i] = balance[i].astype(str).str.replace("\n", "", regex=True)
    balance[i] = balance[i].astype(str).str.replace("<", "")
    balance[i] = balance[i].astype(str).str.replace("times", "")

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic)_min,L6 (Athletic)_max,L7 (Sports \nFit)_min,L7 (Sports \nFit)_max
0,5,18,24,13,18,10,13,9,10,7,9,5,7,nan,5
1,6,18,25,14,18,10,14,8,10,7,8,5,7,nan,5
2,7,18,26,14,18,10,14,8,10,7,8,4,7,nan,4
3,8,18,26,14,18,10,14,8,10,7,8,5,7,nan,5

In [21]:
balance.drop(columns=['L7 (Sports \nFit)_min']  , inplace = True)
for i in balance.columns:
    balance[i] = balance[i].astype(int)


balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4 non-null      int64
 1   L1 (Work
Harder)_min    4 non-null      int64
 2   L1 (Work
Harder)_max    4 non-null      int64
 3   L2 (Must
Improve)_min   4 non-null      int64
 4   L2 (Must
Improve)_max   4 non-null      int64
 5   L3 (Can do
Better)_min  4 non-null      int64
 6   L3 (Can do
Better)_max  4 non-null      int64
 7   L4 (Good)_min            4 non-null      int64
 8   L4 (Good)_max            4 non-null      int64
 9   L5 (Very
Good)_min      4 non-null      int64
 10  L5 (Very
Good)_max      4 non-null      int64
 11  L6 (Athletic)_min        4 non-null      int64
 12  L6 (Athletic)_max        4 non-null      int64
 13  L7 (Sports
Fit)_max     4 non-null      int64
dtypes: int64(14)
memory usage: 576.0 bytes

In [22]:
balance

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic)_min,L6 (Athletic)_max,L7 (Sports \nFit)_max
0,5,18,24,13,18,10,13,9,10,7,9,5,7,5
1,6,18,25,14,18,10,14,8,10,7,8,5,7,5
2,7,18,26,14,18,10,14,8,10,7,8,4,7,4
3,8,18,26,14,18,10,14,8,10,7,8,5,7,5

In [163]:
def convert_to_ms(time_arr):
    try:
        m = int(time_arr[0]) * 60 * 1000  # Convert minutes to milliseconds
        s = int(time_arr[1]) * 1000       # Convert seconds to milliseconds
        ms = int(time_arr[2])             # Milliseconds remain the same
        return m + s + ms
    except (ValueError, IndexError):
        return None  # Return None if the value is invalid

time_columns = [col for col in speed_table.columns if col != 'Age']

# Apply conversion to all columns
for col in time_columns:
    speed_table[col] = (
        speed_table[col]
        .astype(str)  # Ensure it's a string
        .str.split(",")  # Convert to a list
        .apply(lambda x: convert_to_ms([i.strip() for i in x if i.strip()]) if len(x) == 3 else None)  # Clean and convert
    )

speed_table

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic) L7 (Sports_min,L6 (Athletic) L7 (Sports_max,Fit)_min,Fit)_max
0,9,10300,10800,9800,10300,9300,9800,9100,9300,9000,9100,8600,9000,None,8600
1,10,10000,10400,9500,10000,9100,9500,8900,9100,8300,8900,8300,8300,None,8300
2,11,9700,10100,9200,9700,8800,9200,8600,8800,8100,8600,8100,8100,None,8100
3,12,9400,9800,8900,9400,8500,8900,8300,8500,7800,8300,7800,7800,None,7800
4,13,9100,9400,8700,9100,8300,8700,8000,8300,7700,8000,7700,7700,None,7700
5,14,8900,9100,8500,8900,8000,8500,7800,8000,7500,7800,7600,7500,None,7600
6,15,8700,8900,8300,8700,7800,8300,7700,7800,7300,7700,7400,7300,None,7400
7,16,8500,8700,8000,8500,7700,8000,7600,7700,7200,7600,7200,7200,None,7200
8,17,8300,8500,7800,8300,7600,7800,7500,7600,7100,7500,7100,7100,None,7100
9,18,8000,8300,7700,8000,7500,7700,7300,7500,7000,7300,7000,7000,None,7000

In [128]:
speed_table['L1 (Work \nHarder)_max'] = speed_table['L1 (Work \nHarder)_max'].astype(str).str.replace(r"\s+", ",", regex=True)

In [129]:
speed_table['L1 (Work \nHarder)_max'] = speed_table['L1 (Work \nHarder)_max'].str.replace(r"^\s*,|,\s*$", "", regex=True)
speed_table

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic) L7 (Sports_min,L6 (Athletic) L7 (Sports_max,Fit)_min,Fit)_max
0,9,00 10 300,"00,10,800",00 09 800,00 10 300,00 09 300,00 09 800,00 09 100,00 09 300,00 09 0,00 09 100,00 08 600,00 09 0,nan,00 08 600
1,10,00 10 0,"00,10,400",00 09 500,00 10 0,00 09 100,00 09 500,00 08 900,00 09 100,00 08 300,00 08 900,00 08 300,00 08 300,nan,00 08 300
2,11,00 09 700,"00,10,100",00 09 200,00 09 700,00 08 800,00 09 200,00 08 600,00 08 800,00 08 100,00 08 600,00 08 100,00 08 100,nan,00 08 100
3,12,00 09 400,"00,09,800",00 08 900,00 09 400,00 08 500,00 08 900,00 08 300,00 08 500,00 07 800,00 08 300,00 07 800,00 07 800,nan,00 07 800
4,13,00 09 100,"00,09,400",00 08 700,00 09 100,00 08 300,00 08 700,00 08 0,00 08 300,00 07 700,00 08 0,00 07 700,00 07 700,nan,00 07 700
5,14,00 08 900,"00,09,100",00 08 500,00 08 900,00 08 0,00 08 500,00 07 800,00 08 0,00 07 500,00 07 800,00 07 600,00 07 500,nan,00 07 600
6,15,00 08 700,"00,08,900",00 08 300,00 08 700,00 07 800,00 08 300,00 07 700,00 07 800,00 07 300,00 07 700,00 07 400,00 07 300,nan,00 07 400
7,16,00 08 500,"00,08,700",00 08 0,00 08 500,00 07 700,00 08 0,00 07 600,00 07 700,00 07 200,00 07 600,00 07 200,00 07 200,nan,00 07 200
8,17,00 08 300,"00,08,500",00 07 800,00 08 300,00 07 600,00 07 800,00 07 500,00 07 600,00 07 100,00 07 500,00 07 100,00 07 100,nan,00 07 100
9,18,00 08 0,"00,08,300",00 07 700,00 08 0,00 07 500,00 07 700,00 07 300,00 07 500,00 07 0,00 07 300,00 07 0,00 07 0,nan,00 07 0

In [112]:
speed_table['L1 (Work \nHarder)_max'] = (
    speed_table['L1 (Work \nHarder)_max']
    .str.replace(r"\s+", ",", regex=True)  # Replace spaces with commas
    .str.split(",")
    .apply(lambda x: [val for val in x if val])  # Remove empty values
)

In [136]:
speed_table['L1 (Work \nHarder)_max'].str.split(pat=',')

['00', '10', '800']

In [ ]:
def convert_to_ms(time_arr):
    m = time_arr[0] * 60 * 1000
    s = time_arr[1] * 1000
    ms = time_arr[1] 
    total_time = m + s + ms

    return total_time

arr = ['00', '10', '800']

In [146]:
# List of columns to convert (excluding 'Age')
time_columns = speed_table.columns[1:]

# Convert time strings to lists
for col in time_columns:
    print(f"Before conversion ({col}):", speed_table[col].head())

    speed_table[col] = (
        speed_table[col]
        .astype(str)
        .str.replace(r"\s+", ",", regex=True)
        .str.split(",")
        .apply(lambda x: convert_to_ms(x) if len(x) == 3 else None)
    )

    print(f"After conversion ({col}):", speed_table[col].head())

Before conversion (L1 (Work
Harder)_min): 0    00,10,300
1      00,10,0
2    00,09,700
3    00,09,400
4    00,09,100
Name: L1 (Work \nHarder)_min, dtype: object
After conversion (L1 (Work
Harder)_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L1 (Work \nHarder)_min, dtype: object
Before conversion (L1 (Work
Harder)_max): 0    00,10,800
1    00,10,400
2    00,10,100
3    00,09,800
4    00,09,400
Name: L1 (Work \nHarder)_max, dtype: object
After conversion (L1 (Work
Harder)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L1 (Work \nHarder)_max, dtype: object
Before conversion (L2 (Must
Improve)_min): 0    00,09,800
1    00,09,500
2    00,09,200
3    00,08,900
4    00,08,700
Name: L2 (Must \nImprove)_min, dtype: object
After conversion (L2 (Must
Improve)_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L2 (Must \nImprove)_min, dtype: object
Before conversion (L2 (Must
Improve)_max): 0    00,10,300
1      00,10,0
2    00,09,700
3    00,09,400
4    00,09,100
Name: L2 (Must \nImprove)_max, dtype: object
After conversion (L2 (Must
Improve)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L2 (Must \nImprove)_max, dtype: object
Before conversion (L3 (Can do
Better)_min): 0    00,09,300
1    00,09,100
2    00,08,800
3    00,08,500
4    00,08,300
Name: L3 (Can do \nBetter)_min, dtype: object
After conversion (L3 (Can do
Better)_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L3 (Can do \nBetter)_min, dtype: object
Before conversion (L3 (Can do
Better)_max): 0    00,09,800
1    00,09,500
2    00,09,200
3    00,08,900
4    00,08,700
Name: L3 (Can do \nBetter)_max, dtype: object
After conversion (L3 (Can do
Better)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L3 (Can do \nBetter)_max, dtype: object
Before conversion (L4 (Good)_min): 0    00,09,100
1    00,08,900
2    00,08,600
3    00,08,300
4      00,08,0
Name: L4 (Good)_min, dtype: object
After conversion (L4 (Good)_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L4 (Good)_min, dtype: object
Before conversion (L4 (Good)_max): 0    00,09,300
1    00,09,100
2    00,08,800
3    00,08,500
4    00,08,300
Name: L4 (Good)_max, dtype: object
After conversion (L4 (Good)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L4 (Good)_max, dtype: object
Before conversion (L5 (Very
Good)_min): 0      00,09,0
1    00,08,300
2    00,08,100
3    00,07,800
4    00,07,700
Name: L5 (Very \nGood)_min, dtype: object
After conversion (L5 (Very
Good)_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L5 (Very \nGood)_min, dtype: object
Before conversion (L5 (Very
Good)_max): 0    00,09,100
1    00,08,900
2    00,08,600
3    00,08,300
4      00,08,0
Name: L5 (Very \nGood)_max, dtype: object
After conversion (L5 (Very
Good)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L5 (Very \nGood)_max, dtype: object
Before conversion (L6 (Athletic)  L7 (Sports_min): 0    00,08,600
1    00,08,300
2    00,08,100
3    00,07,800
4    00,07,700
Name: L6 (Athletic)  L7 (Sports_min, dtype: object
After conversion (L6 (Athletic)  L7 (Sports_min): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L6 (Athletic)  L7 (Sports_min, dtype: object
Before conversion (L6 (Athletic)  L7 (Sports_max): 0      00,09,0
1    00,08,300
2    00,08,100
3    00,07,800
4    00,07,700
Name: L6 (Athletic)  L7 (Sports_max, dtype: object
After conversion (L6 (Athletic)  L7 (Sports_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: L6 (Athletic)  L7 (Sports_max, dtype: object
Before conversion (Fit)_min): 0    nan
1    nan
2    nan
3    nan
4    nan
Name: Fit)_min, dtype: object
After conversion (Fit)_min): 0    None
1    None
2    None
3    None
4    None
Name: Fit)_min, dtype: object
Before conversion (Fit)_max): 0    00,08,600
1    00,08,300
2    00,08,100
3    00,07,800
4    00,07,700
Name: Fit)_max, dtype: object
After conversion (Fit)_max): 0    0000000000000000000000000000000000000000000000...
1    0000000000000000000000000000000000000000000000...
2    0000000000000000000000000000000000000000000000...
3    0000000000000000000000000000000000000000000000...
4    0000000000000000000000000000000000000000000000...
Name: Fit)_max, dtype: object

In [147]:
speed_table

,Age,L1 (Work \nHarder)_min,L1 (Work \nHarder)_max,L2 (Must \nImprove)_min,L2 (Must \nImprove)_max,L3 (Can do \nBetter)_min,L3 (Can do \nBetter)_max,L4 (Good)_min,L4 (Good)_max,L5 (Very \nGood)_min,L5 (Very \nGood)_max,L6 (Athletic) L7 (Sports_min,L6 (Athletic) L7 (Sports_max,Fit)_min,Fit)_max
0,9,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
1,10,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
2,11,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
3,12,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
4,13,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
5,14,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
6,15,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
7,16,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
8,17,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...
9,18,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...,None,0000000000000000000000000000000000000000000000...